/*fuentes de fonts  con el @import y la url de la fuentes que queremos poner */
/*----tamb lo de media query ---*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Raleway:wght@300&display=swap");


body{
  background-color: white;
  font-family: sans-serif;
  
  /* poner una funte nueva */
}
*{
  margin: 0;
  padding: 0;

}





/*---------- index pagina---------- */

/* #menu {
  background-color: #333;
  padding: 20px 0
}

#menu li > a {  
  font-size :18px;
 
}
#menu img {
  padding: 5px;
  max-width: 120px;
 
  background-color: #5a5757;
 border-radius: 5px;
}

.navbar-nav{
  margin-right: 200px;
}

.navbar-nav .nav-item{
  margin-left: 20px;
}
.nav-link:hover {
  color: gray }
 */

  /* Estilo del menú de navegación */
  #menu {
    background-color: #333;
    padding: 20px 0;
  }
  
  #menu .navbar-brand img {
    max-width: 120px;
    border-radius: 20px;
    border: 2px solid black;
  }
  
  #menu .navbar-nav .nav-link {
    color: #111111;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  #menu .navbar-nav .nav-link:hover {
    color: #726a6a;
  }
  

/* carusel */

.carousel-inner {
max-height :39rem ; }

#carouselExampleIndicators {
  padding: 50px;
  background-color: rgb(104, 101, 101);
}

.carousel-inner {
  max-height :50rem ; 

  }

  

/* empieza presentacion */

#presentacion-conteiner{
  display:flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 24 px;
  align-self: stretch;
  background-color: rgb(105, 102, 102)
  
  
  
}
#presentacion-conteiner img{
  border-radius: 15px;
  max-width: 45%; 
  height: auto; 
  max-height: 300px; 

}


.energy{
  display: flex;
  flex-direction: column;
  
  max-width: 417px; /* Establece un ancho máximo */
  height: auto; 
  justify-content: center;
  align-items:flex-start; 
  text-align:left; 
}

.energy h3{
  margin-left: 10px;
  color: white;
}

.energy p{
  padding: 5px;
  margin-left: 10px;
  color: white;
}

  /* yermina presentacion */
  
  /* seccion de imagenes */
  

  .imagenesOpciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px; }
    .imagenesOpciones img {
      border-radius: 20px;
      margin-bottom: 30px;
      width: 300px;
      transition: height 0.5s, width 0.5s; }
    .imagenesOpciones img:hover {
      width: 350px; }
  /* termina seccion de imagenes  */
  
  
/* boton de wpp */

.botonWhatsApp img {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px; }




/* footer */


footer {
  background-color: #ebe4e2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

footer .Iconos ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

footer .Iconos ul li {
  display: inline-block; /* Cambiado de "flex" a "inline-block" */
  text-align: center;
  margin: 0 10px; /* Agregado margen para separar los íconos */
}

footer .Iconos ul li img {
  width: 40px;
  height: 40px;
  transition: height 0.5s, width 0.5s;
}

footer .Iconos ul li img:hover {
  width: 50px;
  height: 50px;
}

footer img {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 15px;
}









/*<<<<<<<<<<<<<<<<<<<<pagina nosotros>>>>>>>>>>>>>>>>>>>>>*/
 
.contenedor-nosotros{
/*para poder utilizar grillas */
display: grid;
/*grids columnas*/
grid-template-columns: repeat(3,1fr) ;
/*grids filas */
grid-template-rows: repeat(3,auto);

/*espacios entre filas y columnas */
row-gap: 20px;
column-gap: 20px;
background-color: #8c8787;
padding: 20px;
}



.contenedor-nosotros-informacion{
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: auto;
  border-radius: 20px;
  background-color: rgb(245, 242, 242);
  margin-right: 450px;

}

.nosotros-informacion{
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nosotros-informacion h3{
  font-size: 40px;
  font-weight: 370px;
  line-height: 35px;
  text-transform: lowercase;
  color: #000;
}
.nosotros-informacion p{
  font-size: 20px;
  font-weight: normal;
  padding: 23px;
  margin-top: 15px;
  color: #000;
}



.nosotros-informacion-img{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;

}

.nosotros-informacion-img img{
padding: 20px;
background-color: rgb(115, 115, 121);
}








.contenedor-nosotros-informacion2{
  grid-column:1/4 ;
  grid-row: 2/3;
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: auto;
  border-radius: 20px;
  background-color:  rgb(245, 242, 242);
  margin-left: 550px;
}

.nosotros-informacion2{
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.nosotros-informacion2 h3{
  font-size: 40px;
  font-weight: 370px;
  line-height: 35px;
  text-transform: lowercase;
  color: #000;
}

.nosotros-informacion2 p{
  font-size: 20px;
  font-weight: normal;
  padding: 23px;
  margin-top: 15px;
  color: #000;
}


.nosotros-informacion-img2{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 border-radius: 15px;
  
}
.nosotros-informacion-img2 img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(115, 115, 121);
}










.contenedor-nosotros-informacion3{
 
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: auto;
  border-radius: 20px;
  background-color:  rgb(245, 242, 242);
  margin-right: 760px;
}

.nosotros-informacion3{
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.nosotros-informacion3 h3{
  font-size: 40px;
  font-weight: 370px;
  line-height: 35px;
  text-transform: lowercase;
  color: #000;
}

.nosotros-informacion3 p{
  font-size: 20px;
  font-weight: normal;
  padding: 23px;
  margin-top: 15px;
  color: #000;
}


.nosotros-informacion-img3{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  
}


.nosotros-informacion-img3 img {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  background-color: rgb(115, 115, 121);
  border-radius: 15px; /* Puedes aplicar el redondeo alrededor de la imagen si es necesario */
}











/*<<<<<<<<<<<<<<<<<<<<pagina stock>>>>>>>>>>>>>>>>>>>>>*/

.conteiner-stock{
  padding: 20px;
  background-color: #5a5757;
  background-image:  linear-gradient(to right,gray, black);
}

.stockCards .card {
  margin: 20px;
  border-color: rgb(14, 13, 13); }

.stockCards p {
  font-weight: bold;
  color: #080808; }

.stockCards .btn {
  background-color: #636160;
  border-color: #080808; }


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<pagina servicios>>>>>>>>>>>>>>>>>>>>>>>>>*/


.about-section, .today-section {
  background-color: #726a6a;
  padding: 80px 0;
}

.row-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  align-self: stretch;
}

.nuestros-servicios, .descripcion, .titulo-parrafo, .foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.nuestros-servicios h2, .nuestros-servicios h4, .titulo-parrafo h2 {
  color: #fff;
}

.descripcion, .titulo-parrafo p {
  color: #fff;
  max-width: 417px;
}

.foto img {
  border-radius: 25px;
  padding: 20px;
  background-color: #ebe4e2;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<pagina contacto>>>>>>>>>>>>>>>>>>>>>>>>>*/



.container-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.map {
  flex: 1;
  margin: 10px;
}

.form {
  flex: 1;
  margin: 10px;
}

.form h2 {
  font-size: 28px;
  color: #333;
}

.form label {
  font-weight: bold;
  color: #444;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
}
