

/*<<<<<<<<<<<<<<<<<<<<pagina nosotros>>>>>>>>>>>>>>>>>>>>>*/










<!--------------------------------------------------------------------------------------->
*/



/*--------------pagina index -----------------*/

/*padding es para que crezcan las cajas */
/*margin genera espacios*/

a{
margin-left: 2px;
color: black;
}


/*flex box en la main */
.main.seccion-principal {
    background-color: #2e92d4;
  }
  
  section.energy {
    background-color:white;
  }
  
  h1 {
    color: black;
    font-size: 50px;
  }
  
  img.fotoportada {
    
    width: 100%;
    height: 500px;
  }

  /*INDEX-INFORMACION*/
  section#index-informacion {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
 
  h2 {
    margin-top: 20px;
    text-align: left;
  }
  .img-informacion {
    width: 100%;
    height: auto;
  }
  
  
  p {
    
    margin-top: 20px;
   
  }






/*--------------------- pagina stock------------------------------*/





.stock-suplementos{
    margin :20px;
    background-color: black;
    

    /*grids*/
    display: grid;
    /*grids columnas */
    grid-template-columns: repeat(4,1fr);

    /*grid filas */
    grid-template-rows: repeat(4,250px) ;

    row-gap: 10px;
    column-gap: 10px;

}


.stocks{
  background-color: black;
grid-column: 1/3;
grid-row: 1/3;
/*relleno interno*/
padding: 15px;
}

.stocks h2{
  color: aliceblue;
  margin-bottom: 15px;
}

.stocks img{
width: 325px;
height: 430px;

}





.stock-suplementosveganos{
 background-color: rgb(5, 5, 5);
  grid-column: 3/5;
  grid-row: 1/3;
  padding: 15px;
}




.stock-suplementosveganos h2{
  color: aliceblue;
  margin-bottom: 15px;
}

.stock-suplementosveganos img{
width: 325px;
height: 430px;

}













.stock-ropa{
  background-color: rgb(2, 2, 2);
  grid-column: 1/3;
  grid-row: 3/5;
  padding: 15px;
}


.stock-ropa h2{

  color: aliceblue;
  margin-bottom: 25px;


}

.stock-ropa img{
  width: 320px;
  height: 400px;
  

}








.stock-intrumentos{
  background-color: rgb(0, 0, 0);
  grid-column: 3/5;
  grid-row: 3/5;
  padding: 15px;
}


.stock-intrumentos h2{
  color: aliceblue;
  margin-bottom: 25px;

}

.stock-intrumentos img{
  width: 320px;
  height: 400px;
  
}













/*-----------------------pagina servicios----------------------*/



/*----------------------------pagina nosotros.----------------------------*/

#nosotros{


  margin :20px;
  background-color: rgb(236, 233, 233);
  

  /*grids*/
  display: grid;
  /*grids columnas */
  grid-template-columns: repeat(3,1fr);

  /*grid filas */
  grid-template-rows: repeat(3,300px) ;

  row-gap: 10px;
  column-gap: 10px;
  
   
}

/*itemuno de nosotros*/
.item-one-nosotros{
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #080808;
  border-radius: 15px ;
}
.item-one-nosotros h2{
  color: #e3ebf0;
  margin-left: 15px;


}
.item-one-nosotros p{
  color: #e3ebf0;
  margin-top: 50px;
  padding: 15px;
}


/*itemdosdenosotros*/


.item-two-nosotros{
  grid-column:1/4 ;
  grid-row: 2/3;
  padding: 10px;
  background-color: rgb(5, 5, 5);
  border-radius: 15px ;
}

.item-two-nosotros img{

width: 300px;
right: 300px;


}
/*falta modificar aca */


/*itemtresdenosotros*/
.item-three-nosotros{
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: rgb(20, 20, 20);
  border-radius: 15px ;
}

.item-three-nosotros p {
  color: #e3ebf0;
  margin-top: 50px;
  padding: 15px;
}
/*------------------------´pagina contacto---------------------------*/












/*tabletquery*/
/*

@media(min-width:469px)
{
body{
background-color: #edeff0;


}


}
