.stock-suplementos {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    flex-wrap: wrap;
  }
  
  /* Estilos para cada sección individual */
  .stocks,
  .stock-suplementosveganos,
  .stock-ropa,
  .stock-intrumentos {
    background-color: rgb(10, 10, 10);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .stocks h2,
  .stock-suplementosveganos h2,
  .stock-ropa h2,
  .stock-intrumentos h2 {
    color: aliceblue;
    margin-bottom: 15px;
  }
  
  .stocks img,
  .stock-suplementosveganos img,
  .stock-ropa img,
  .stock-intrumentos img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
  }
  
  /* Estilos para los párrafos de descripción */
  .stocks p,
  .stock-suplementosveganos p,
  .stock-ropa p,
  .stock-intrumentos p {
    color: white;
    margin-top: 15px;
  }