@import "../components/variables";



/* Carusel */
#carouselExampleIndicators {
            padding: 50px;
            background-color: $color-secundario;
             background: linear-gradient(0deg, rgba(245, 245, 245, 0.10688025210084029) 37%, rgba(152, 148, 148, 0.3029586834733894) 86);
  
        .carousel-inner {
         max-height: 50rem;
         }
  }




  /*seccion sobreEnergy*/
  
  .sobreEnergy {
           text-align: center;
           background-color: white;
           padding: 30px;
                img {
                  margin-top: 20px;
                   width: 100px; 
                  }
                       h2 {
                       animation-name: texto;
                       animation-duration: 2s;
                       color: #0c0c0c;
                        font-size: 30px;
                        margin: 10px;
                      padding-bottom: 30px;
                     }
   }


    .textoSobreEnergy{
      padding: 30px;
      
                          h2 {
                          padding: 10px;                         
                          font-size: 50px;
                          text-transform: uppercase;
                          margin: 20px;
                          color: #070707;
                          text-align: center;
                          margin: 0; 
                          }
                        p {
                         
                            color: rgb(15, 15, 15);
                            font-size: 16px;
                            margin: 10;
                            padding-left: 40px;
                            padding-right: 40px; 
                          }
  
                          h3 {
                            text-align: center;
                            color: #161616;
                             margin: 0; }
                          
    
                        }
  .fotosEnergy {
    img {
    width: 300px;
    margin: 30px; 
    border-radius: 20px;
  
  img:hover {
    transform: scale(1.04);
    cursor: pointer; }
  }
  

  }


/*termina seccion sobreEnergy*/
  

  /* Empieza presentación */
  #presentacion-conteiner {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    background-color: $color-contenedores;
  
               img {
                border-radius: 15px;
                max-width: 45%;
                height: auto;
                max-height: 300px;
                padding: 10px;
                background-color: $color-principal;
                }
              }
    .energy {
      display: flex;
      flex-direction: column;
      max-width: 417px; /* Establece un ancho máximo */
      height: auto;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
  
      h3 {
        margin-left: 10px;
        color: rgb(17, 17, 17);
      }
  
      p {
        padding: 5px;
        margin-left: 10px;
        color:$color-textos;
      }
    }
  
  
  /* Termina presentación */
  


  /* Información */
  .infoEnergy {
    text-align: center;
    background-color: $color-secundario;
    margin-bottom: 30px;
  
    p {
      @extend.estilosP;
      margin-top: 30px;
      padding-bottom: 30px;
    }
  
    h1 {
      color:map-get($estilo-titulos, colorFuente);
            font-size: map-get($estilo-titulos, tamFuente);
    }
  
    img {
      color: $color-textos;
      margin-top: 30px;
      width: 10%;
    }
  }
  
  /* Termina información */
  
  /* Sección de imágenes */
  .imagenesOpciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
    background-color: white;
  
    img {
      border-radius: 20px;
      margin-bottom: 20px;
      width: 300px;
      transition: height 0.5s, width 0.5s;
  
      &:hover {
        width: 350px;
      }
    }
  }
  /* Termina sección de imágenes */
  
  