/* Estilos para la página de Servicios */
main{

  background-color: $color-contenedores;
.about-section, .today-section {

  padding: 80px 0;
  text-align: center; /* Centra el contenido */
  
  
  .row-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;

    > div {
      flex: 1;
      padding: 30px;
      background-color: $color-principal;
      border-radius: 15px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
      transition: {
        transform :0.3s,
        box-shadow 0.3s;
      }

      &:hover {
        transform: scale(1.02); /* Agranda el elemento al pasar el mouse por encima */
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Aumenta la intensidad de la sombra al pasar el mouse por encima */
      }

      h2 {
        font-size: 36px;
        text-transform: uppercase;
        margin: 0;
        color: #070707;
      }

      h4 {
        font-size: 18px;
        margin: 0;
        color: #131212;
      }

      p {
        font-size: 16px;
        max-width: 450px;
        margin: 0;
        color: #111111;
      }

      .foto img {
        border-radius: 15px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        
      }
    }
  }
}
}

/* Termina Estilos para la página de Servicios */
