// variables 
$color-principal: #e4b4a6;
$color-contenedores: #a59f9d9f;
$color-secundario: #ebbeb7;
$color-textos:black;



// estilos H1
$estilo-titulos:(colorFuente:#050505, tamFuente: 30px);



//mixin como parametros para margenes

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

//extend para etiquetas p 
.estilosP {
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}
